.u-section-1 .u-sheet-1 {
  min-height: 702px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 3px;
  font-weight: 300;
  width: 165px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-family: abril-fatface;
  margin: 9px 0 0;
}

.u-section-1 .u-table-1 {
  margin-top: 98px;
  margin-bottom: 60px;
  margin-left: 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 66px;
  }

  .u-section-1 .u-table-1 {
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 110px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 61px;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 89px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-table-1 {
    margin-top: 68px;
    margin-left: initial;
  }
}